In [1]:
# Importing necessary libraries and modules 

import subprocess

try:

    import os
    import pandas as pd
    import numpy as np
    import missingno as msno 
    import seaborn as sns
    import matplotlib.pyplot as plt 
    import re

    import time
    from memory_profiler import profile

    # object serialization
    import joblib


    # split data - avoid data leakage
    from sklearn.model_selection import train_test_split, cross_val_score


    # cross validation, hyperparameter tuning
    from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, StratifiedKFold 

    # preprocessing: scaling, encoding
    from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder, LabelEncoder
    from sklearn.compose import ColumnTransformer



except ImportError as error:
    print(f"Installation of the required dependencies necessary! {error}")

    subprocess.check_call(["pip", "install", "numpy"])
    subprocess.check_call(["pip", "install", "pandas"])
    subprocess.check_call(["pip", "install", "scikit-learn"])


    print(f"Successful installation of the required dependencies necessary")


import warnings
warnings.filterwarnings('ignore')


# custom imports
from dataloader import (
                load_data,
                )



from feature_engineering import (
                rename_columns,
                cast_schema_types,
                column_mapper,
                counter_statue_mapper,
                create_new_feautures,
                drop_column,
                #tariff_type_mapper,
                )

from dataprocessor import (
                read_combine_dataframe,
                data_wrangling,
                )


# import 
# data lakes aws


from storage import (
    configure_aws_session,
    )

In [2]:
# 
# get relative path for root data directory  file

current_dir = os.path.dirname(os.path.abspath('__file__'))

print(f''' current directory :
        {current_dir} ''')

root_path = os.path.normpath(os.path.join(current_dir, '../data/raw/'))

#print(f''' relative path  :
#        {root_path} ''')

 current directory :
        /Users/graceeze/Documents/data_practitioner_repos/fraud_detection_energy/src

In [3]:
# read in data

data = read_combine_dataframe(root_path)

data.head()

Filename: /Users/graceeze/Documents/data_practitioner_repos/fraud_detection_energy/src/dataprocessor.py

Line #    Mem usage    Increment  Occurrences   Line Contents
=============================================================
    81    246.3 MiB    246.3 MiB           1   @profile
    82                                         def read_combine_dataframe(datapath= None):
    83
    84                                             """
    85
    86                                             :param datapath: object - path to root data directory
    87                                             :return: object - data
    88
    89                                             Description:
    90
    91                                             read and merge the 2 data files
    92                                                 - invoice.csv
    93                                                 - clients.csv
    94
    95                                             """
    96
    97    246.3 MiB      0.0 MiB           1       if datapath:
    98
    99                                                 # "data/client_data.csv"
   100    246.3 MiB      0.0 MiB           1           client_path = os.path.normpath(os.path.join(datapath, 'client_data.csv'))
   101                                                 # "data/invoice_data.csv"
   102    246.3 MiB      0.0 MiB           1           invoice_path = os.path.normpath(os.path.join(datapath, 'invoice_data.csv'))
   103
   104    301.3 MiB     55.0 MiB           1           client_data = pd.read_csv(client_path)#, low_memory=True)#, engine="pyarrow")
   105   1742.4 MiB   1441.1 MiB           1           invoice_data = pd.read_csv(invoice_path)#, low_memory=True)#, engine="pyarrow")
   106
   107                                             else:
   108                                                 raise ValueError('''Either enter a source data path for the data files
   109
   110                                                                 'datapath' : a data path used to load a csv data file
   111
   112                                                                 ''')
   113
   114   1896.3 MiB    153.9 MiB           1       data = pd.merge(client_data, invoice_data, on="client_id", how="left")
   115
   116   1896.3 MiB      0.0 MiB           1       return data

,disrict,client_id,client_catg,region,creation_date,target,invoice_date,tarif_type,counter_number,counter_statue,...,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,60,train_Client_0,11,101,31/12/1994,0.0,2014-03-24,11,1335667,0,...,8,1,82,0,0,0,14302,14384,4,ELEC
1,60,train_Client_0,11,101,31/12/1994,0.0,2013-03-29,11,1335667,0,...,6,1,1200,184,0,0,12294,13678,4,ELEC
2,60,train_Client_0,11,101,31/12/1994,0.0,2015-03-23,11,1335667,0,...,8,1,123,0,0,0,14624,14747,4,ELEC
3,60,train_Client_0,11,101,31/12/1994,0.0,2015-07-13,11,1335667,0,...,8,1,102,0,0,0,14747,14849,4,ELEC
4,60,train_Client_0,11,101,31/12/1994,0.0,2016-11-17,11,1335667,0,...,9,1,572,0,0,0,15066,15638,12,ELEC

In [4]:
# data wrangling


data = data_wrangling(data)

data.head()

done
numbers of rows : 4476749
percentage of missing values in data : disrict                 0.0
client_id               0.0
client_category         0.0
region                  0.0
creation_date           0.0
target                  0.0
invoice_date            0.0
tarif_type              0.0
counter_number          0.0
counter_statue          0.0
counter_code            0.0
reading_remarque        0.0
counter_coefficient     0.0
consommation_level_1    0.0
consommation_level_2    0.0
consommation_level_3    0.0
consommation_level_4    0.0
old_index               0.0
new_index               0.0
months_number           0.0
counter_type            0.0
dtype: float64 %
percentage of missing values in counter_statue : 0.0 %
done
done
done
['disrict', 'client_id', 'client_category', 'region', 'creation_date', 'target', 'invoice_date', 'tarif_type', 'counter_number', 'counter_statue', 'counter_code', 'reading_remarque', 'counter_coefficient', 'consommation_level_1', 'consommation_level_2', 'consommation_level_3', 'consommation_level_4', 'old_index', 'new_index', 'months_number', 'counter_type']
done
done
Filename: /Users/graceeze/Documents/data_practitioner_repos/fraud_detection_energy/src/feature_engineering.py

Line #    Mem usage    Increment  Occurrences   Line Contents
=============================================================
    97   1418.9 MiB   1418.9 MiB           1   @profile
    98                                         def column_mapper(data, params, column_name='counter_statue'):
    99
   100                                             """
   101
   102                                             :param data: dataframe object - data
   103                                             :param params: dict object - dictionary containing key-value pairs for mapping
   104                                             :param column_name: str - name of columns to map values to
   105                                             :return: object - data
   106
   107                                             Description:
   108
   109                                             column mapper:
   110
   111                                                 - check for pattern
   112                                                 - remove null values
   113                                                 - bin/categories
   114
   115                                             """
   116
   117   1419.3 MiB      0.4 MiB           1       data[column_name] = data[column_name].map(params)
   118
   119   1419.3 MiB      0.0 MiB           1       return data


Filename: /Users/graceeze/Documents/data_practitioner_repos/fraud_detection_energy/src/feature_engineering.py

Line #    Mem usage    Increment  Occurrences   Line Contents
=============================================================
    97   1419.4 MiB   1419.4 MiB           1   @profile
    98                                         def column_mapper(data, params, column_name='counter_statue'):
    99
   100                                             """
   101
   102                                             :param data: dataframe object - data
   103                                             :param params: dict object - dictionary containing key-value pairs for mapping
   104                                             :param column_name: str - name of columns to map values to
   105                                             :return: object - data
   106
   107                                             Description:
   108
   109                                             column mapper:
   110
   111                                                 - check for pattern
   112                                                 - remove null values
   113                                                 - bin/categories
   114
   115                                             """
   116
   117   1423.5 MiB      4.1 MiB           1       data[column_name] = data[column_name].map(params)
   118
   119   1423.5 MiB      0.0 MiB           1       return data


Filename: /Users/graceeze/Documents/data_practitioner_repos/fraud_detection_energy/src/feature_engineering.py

Line #    Mem usage    Increment  Occurrences   Line Contents
=============================================================
    97   1423.7 MiB   1423.7 MiB           1   @profile
    98                                         def column_mapper(data, params, column_name='counter_statue'):
    99
   100                                             """
   101
   102                                             :param data: dataframe object - data
   103                                             :param params: dict object - dictionary containing key-value pairs for mapping
   104                                             :param column_name: str - name of columns to map values to
   105                                             :return: object - data
   106
   107                                             Description:
   108
   109                                             column mapper:
   110
   111                                                 - check for pattern
   112                                                 - remove null values
   113                                                 - bin/categories
   114
   115                                             """
   116
   117   1428.3 MiB      4.7 MiB           1       data[column_name] = data[column_name].map(params)
   118
   119   1428.3 MiB      0.0 MiB           1       return data


done
Assumed loss per fraudulent client: 26434.047052603753
done
done
Filename: /Users/graceeze/Documents/data_practitioner_repos/fraud_detection_energy/src/dataprocessor.py

Line #    Mem usage    Increment  Occurrences   Line Contents
=============================================================
   138   1381.0 MiB   1381.0 MiB           1   @profile
   139                                         def data_wrangling(data):
   140
   141                                             """
   142
   143                                             :param data: object - data
   144                                             :return: object - data
   145
   146                                             Description:
   147
   148                                             data wrangling : cleaning, imputation, transformations and feature engineering
   149                                                 - make column names consitent and rename columns
   150                                                 - drop duplicates
   151                                                 - removing punctuation and special characters
   152                                                 - drop observations (rows) where 'ValueError' occurs
   153                                                 - change target value to binary: 0 (not fraudulent client) and 1 (fraudulent client)
   154                                                     - convert to int: from 0.0 -> 0  and 1.0 -> 1
   155                                                 -
   156
   157                                             feature engineering
   158                                                 - create column for number of years as a client
   159                                                 - create column for index change
   160                                                 - create column for index change per month
   161                                                 - create column for money lost per fraudulent
   162                                                     client when total money lost declared as 200,000,000
   163
   164
   165                                             """
   166
   167
   168                                             # making column names consistent and rename
   169   1593.2 MiB    212.2 MiB           1       data = rename_columns(data)
   170   1593.2 MiB      0.0 MiB           1       print('done')
   171
   172                                             # checking percentage of missing data
   173   1593.2 MiB      0.0 MiB           1       print(f"numbers of rows : {data.shape[0]}")
   174   1607.8 MiB     14.6 MiB           1       missing_value_rate(data, column_name=None, col=False)
   175   1612.2 MiB      4.3 MiB           1       missing_value_rate(data, column_name='counter_statue', col=True)
   176
   177   1612.2 MiB      0.0 MiB           1       print('done')
   178
   179                                             # dropping duplicates and special characters
   180   1401.9 MiB   -210.3 MiB           1       data = data.drop_duplicates()
   181                                             #data['counter_type'] = data['counter_type'].applymap(lambda col: col.str.replace(r'[^A-Za-z0-9\s]+', ' ', regex=True))
   182   1403.4 MiB      1.5 MiB           1       print('done')
   183                                             # casting columns to specific types
   184   1389.9 MiB    -13.5 MiB           1       data = data.copy(deep=True)
   185                                             #data = data.convert_dtypes()
   186
   187   1392.5 MiB      2.5 MiB           1       data['target'] = cast_schema_types(data, params={'target': 'int'})
   188   1392.5 MiB      0.0 MiB           1       print('done')
   189
   190   1392.5 MiB      0.0 MiB           1       print(data.columns.to_list())
   191                                             # convert dates to datetime format
   192   1402.7 MiB     10.2 MiB           1       data['invoice_date'] = pd.to_datetime(data['invoice_date'], format='%Y-%m-%d')
   193   1417.2 MiB     14.5 MiB           1       data['creation_date'] = pd.to_datetime(data['creation_date'], format='%d/%m/%Y')
   194   1417.2 MiB      0.0 MiB           1       print('done')
   195
   196
   197
   198                                             # check and drop rows with null values
   199                                             #error_indices = get_invalid_indicies(data)
   200                                             #data = data.drop(error_indices)
   201                                             #print(data.isnull().T.any())
   202
   203   1417.2 MiB      0.0 MiB           1       print('done')
   204
   205                                             ## feature engineering
   206
   207                                             # bin values in columns
   208   1419.3 MiB      2.2 MiB           1       data = counter_statue_mapper(data)
   209   1423.5 MiB      4.2 MiB           1       data = tarrif_type_mapper(data)
   210   1428.3 MiB      4.8 MiB           1       data = reading_remark_mapper(data)
   211   1428.3 MiB      0.0 MiB           1       print('done')
   212
   213                                             # create new features columns and drop columns
   214   1591.1 MiB    162.7 MiB           1       data = create_new_feautures(data)
   215                                             #data = drop_column(data, col_name=['creation_date','invoice_date'])
   216   1591.1 MiB      0.0 MiB           1       print('done')
   217
   218                                             # delete client with 0 consommation and 0 months_number
   219   1214.2 MiB   -376.9 MiB           1       data = data.drop(index=3985967 , axis=0)
   220
   221   1214.2 MiB      0.1 MiB           1       print('done')
   222
   223   1214.2 MiB      0.0 MiB           1       return data

,disrict,client_id,client_category,region,creation_date,target,invoice_date,tarif_type,counter_number,counter_statue,...,old_index,new_index,months_number,counter_type,member_years,index_change,index_change_per_month,fraudulent_transactions,total_client_transactions,amount_lost_per_client
0,60,train_Client_0,11,101,1994,0,2014,NaN,1335667,0,...,14302,14384,4,ELEC,20,82,20.500000,0,35,0.0
1,60,train_Client_0,11,101,1994,0,2013,NaN,1335667,0,...,12294,13678,4,ELEC,19,1384,346.000000,0,35,0.0
2,60,train_Client_0,11,101,1994,0,2015,NaN,1335667,0,...,14624,14747,4,ELEC,21,123,30.750000,0,35,0.0
3,60,train_Client_0,11,101,1994,0,2015,NaN,1335667,0,...,14747,14849,4,ELEC,21,102,25.500000,0,35,0.0
4,60,train_Client_0,11,101,1994,0,2016,NaN,1335667,0,...,15066,15638,12,ELEC,22,572,47.666667,0,35,0.0

In [6]:
#data.amount_lost_per_client.unique()